<section id="notes" class="bg-default" >
	<div class="container">
			<div class="row text-right visible-sm visible-md visible-lg visible-xl">
				<h2><small>Signed in as</small> <%= current_user.email%></h2>
			</div>
			<div class="row text-right visible-xs">
				<h4><small>Signed in as</small> <%= current_user.email%></h4>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-primary btn-block" onclick="history.go(-1)">Back</button>
				</div>
				<div class="col-xs-12 visible-sm visible-md visible-lg visible-xl">
					<h3>View Employee <a href="<%= delete_employee_path(@employee.id) %>" class="btn btn-sm btn-danger pull-right">Delete</a><a href="<%= update_employee_path(@employee.id) %>" class="btn btn-sm btn-success pull-right" style="margin-right: 5px;">Edit</a></h3>
				</div>
				<div class="col-xs-12 visible-xs">
					<br>
					<h5>View Employee <a href="<%= delete_employee_path(@employee.id) %>" class="btn btn-xs btn-danger pull-right">Delete</a><a href="<%= update_employee_path(@employee.id) %>" class="btn btn-xs btn-success pull-right" style="margin-right: 5px;">Edit</a></h5>
				</div>
			</div>
			<div class="row">
				<h1><%= @employee.name %></h1>
				<br>
				<% if @employee.phone != "" %>				
					<h4><%= Phonelib.parse(@employee.phone).national %></h4>
				<% else %>
					<h4>Sorry, there is no known phone number for this employee. <a href="<%= update_employee_path(@employee.id) %>">Click here to add one</a></h4>
				<% end %>
				<br>
				<% if @employee.email != "" %>
					<h4><%= @employee.email %></h4>
				<% else %>
					<h4>Sorry, there is no known email for this employee. <a href="<%= update_employee_path(@employee.id) %>">Click here to add one</a></h4>
				<% end %>
			</div>
	</div>
</section>