<section id="notes" class="bg-default" >
	<div class="container">
			<div class="col-xs-12 col-md-6 center-block">
				<button class="btn btn-primary btn-block" onclick="history.go(-1)">Back</button>
			</div>
			<div class="row text-right visible-sm visible-md visible-lg visible-xl">
				<h2><%= current_user.email%></h2>
			</div>
			<div class="row text-right visible-xs">
				<h4><%= current_user.email%></h4>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 visible-sm visible-md visible-lg visible-xl">
					<h3>Payrolls Viewer</h3>
				</div>
				<div class="col-xs-12 visible-xs">
					<br>
					<h4>Payrolls Viewer</h4>
				</div>
			</div>
			<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-3 text-center">
								<p class="lead">
									Employee
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									Gross Total
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									Medicare Tax
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									Employers Tax
								</p>
							</div>
							<div class="col-xs-3 text-center">
								<p class="lead">
									Net Total
								</p>
							</div>
						</div>
				<% if @items %>
					<% @items.each do |item| %>
						<div class="row payroll_entry">
							<div class="col-xs-3 text-center">
								<p class="lead">
									<%= item.name_of_employee %>
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									<%= item.gross_pay %>
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									<%= item.medicare_tax %>
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									<%= item.employers_tax %>
								</p>
							</div>
							<div class="col-xs-3 text-center">
								<p class="lead">
									<%= item.net_pay %>
								</p>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
	</div>
</section>