<section id="notes" class="bg-default" >
	<div class="container">
			<div class="row text-right visible-sm visible-md visible-lg visible-xl">
				<h2><%= current_user.email%></h2>
			</div>
			<div class="row text-right visible-xs">
				<h4><%= current_user.email%></h4>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12">
					<a href="<%= payrolls_new_path%>" class="btn btn-primary btn-block">New Payroll Entry</a>
				</div>
				<div class="col-xs-12 visible-sm visible-md visible-lg visible-xl">
					<h3>Payrolls Viewer</h3>
				</div>
				<div class="col-xs-12 visible-xs">
					<br>
					<h4>Payrolls Viewer</h4>
				</div>
			</div>
			<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-3 text-center">
								<p class="lead">
									Creator
								</p>
							</div>
							<div class="col-xs-3 text-center">
								<p class="lead">
									Submitted
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									Gross Total
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									Net Total
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									Options
								</p>
							</div>
						</div>
				<% if @payrolls %>
					<% @payrolls.each do |payroll| %>
						<div class="row payroll_entry">
							<div class="col-xs-3 text-center">
								<p class="lead">
									<a href="<%= payrolls_show_path(payroll.id) %>"><%= payroll.creator.email %></a>
								</p>
							</div>
							<div class="col-xs-3 text-center">
								<p class="lead">
									<a href="<%= payrolls_show_path(payroll.id) %>"><%= payroll.submission_date %></a>
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									<a href="<%= payrolls_show_path(payroll.id) %>"><%= payroll.gross_total %></a>
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									<a href="<%= payrolls_show_path(payroll.id) %>"><%= payroll.net_total %></a>
								</p>
							</div>
							<div class="col-xs-2 text-center">
								<p class="lead">
									<a href="<%= payrolls_show_path(payroll.id, :format => :pdf) %>">View as PDF</a>
								</p>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
	</div>
</section>