<head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<style type="text/css">

</style>
<section id="notes" class="bg-default" >
	<div class="container">
			<div class="col-xs-12">
				<% if @items %>
					<% @items.each do |item| %>
						<h1><%= item.name_of_employee %>
						<%= item.gross_pay %>
						<%= item.medicare_tax %>
						<%= item.employers_tax %>
						<%= item.net_pay %></h1>
					<% end %>
				<% end %>
			</div>
	</div>
</section>