<head>
    <meta charset='utf-8' />
</head>
<style type="text/css">
	section#notes {
		background-image: "<%= image_tag image_url('checks.jpg')%>";
		background-position: center;
	}
	img {
		
	}
</style>

<section id="notes" class="bg-default" >
	<div class="container">
			<div class="col-xs-12">
			<%= wicked_pdf_image_tag('checks.jpg')%>
				<% if @items %>
					<% @items.each do |item| %>
						<h1><%= item.name_of_employee %>
						<%= item.gross_pay %>
						<%= item.medicare_tax %>
						<%= item.employers_tax %>
						<%= item.net_pay %></h1>
					<% end %>
				<% end %>
			</div>
	</div>
</section>