<section id="notes" class="bg-default" >
	<div class="container">
			<div class="row text-right visible-sm visible-md visible-lg visible-xl">
				<h2><small>Welcome</small> <%= current_user.email%></h2>
			</div>
			<div class="row text-right visible-xs">
				<h4><small>Welcome</small> <%= current_user.email%></h4>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12">
					<a href="<%=new_event_path%>" class="btn btn-primary btn-block">New Event</a>
				</div>
				<div class="col-xs-12 visible-sm visible-md visible-lg visible-xl">
					<h3>
						Unpaid Events <%= @month %>
						<div class="dropdown pull-right">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Filter By Month
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="<%= unpaid_events_by_month_path("1") %>">January</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("2") %>">February</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("3") %>">March</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("4") %>">April</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("5") %>">May</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("6") %>">June</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("7") %>">July</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("8") %>">August</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("9") %>">September</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("10") %>">October</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("11") %>">November</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("12") %>">December</a></li>
						  </ul>
						</div>		
					</h3>
				</div>
				<div class="col-xs-12 visible-xs">
					<br>
					<h5>
						Unpaid Events <%= @month %>
						<div class="dropdown pull-right">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Filter By Month
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						 	<li><a href="<%= unpaid_events_by_month_path("1") %>">January</a></li>
							<li><a href="<%= unpaid_events_by_month_path("2") %>">February</a></li>
						 	<li><a href="<%= unpaid_events_by_month_path("3") %>">March</a></li>
						 	<li><a href="<%= unpaid_events_by_month_path("4") %>">April</a></li>
						 	<li><a href="<%= unpaid_events_by_month_path("5") %>">May</a></li>
						 	<li><a href="<%= unpaid_events_by_month_path("6") %>">June</a></li>
						 	<li><a href="<%= unpaid_events_by_month_path("7") %>">July</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("8") %>">August</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("9") %>">September</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("10") %>">October</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("11") %>">November</a></li>
						    <li><a href="<%= unpaid_events_by_month_path("12") %>">December</a></li>
						  </ul>
						</div>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="text-center">
					<div class="col-xs-3 col-md-3">
						<h5>Name</h5>
					</div>
					<div class="col-xs-3 col-md-3">
						<h5>Date</h5>
					</div>
					<div class="col-xs-3 col-md-3">
						<h5>Start Time</h5>
					</div>
					<div class="col-xs-3 col-md-3">
						<h5>Contact</h5>
					</div>
					<ul class="list-unstyled" id="notesList">
						<% @color = 1 %>
						<% @events.each do |event| %>
							<% if @color == 1 %>
								<li class="note clearfix">
							<% @color = 2 %>
							<% else %>
								<li class="noteAlt clearfix">
								<% @color = 1 %>
							<% end %>
									<a href="/events/<%= event.id %>/show ">
										<span class="lead">
											<div class="col-xs-3 col-md-3">
												<%= event.event_name %>
											</div>
											<div class="col-xs-3 col-md-3">
												<% if event.date %>
													<%= event.date %>
												<% else %>
													Not Known
												<% end %>
											</div>
											<div class="col-xs-3 col-md-3">
												<% if event.start_time %>
													<%= event.start_time.strftime("%I:%M %p") %>
												<% else %>
													Not Known
												<% end %>
											</div>
											<div class="col-xs-3 col-md-3">
												<% if event.contact_name != "" %>
													<%= event.contact_name %>
												<% else %>
													Not Known
												<% end %>
											</div>
										</span>
									</a>
								</li>
						<% end %>
					</ul>
				</div>
			</div>
	</div>
</section>