<!DOCTYPE html>
<html>
<body class="home ">  

	<!-- MAIN -->
	<section id="home_main" class="bg-default">
		<div class="container ">
			<div class="row">
				<!-- <div class="col-xs-12 col-sm-6">
					<%= image_tag('mac.jpg', :class => 'img-responsive center-block') %>
				</div> -->
				<div class="col-xs-12 text-center">
					<!-- <p class="home_main lead">
						Mac Parking Inc. is a Valet service serving all of South Florida. We provide an easy and seamless way to organize the parking logistics at your events. <a href="#home_contact_us">Contact us </a> to find out how we can help you with your next event.
					</p> -->
					<div class="jumbotron home_jumbo">
						<p>Mac Parking Inc. is a Valet service serving all of South Florida. We provide an easy and seamless way to organize the parking logistics at your events. <a href="#home_contact_us">Contact us </a> to find out how we can help you with your next event.</p>
						<p> <a id='call-now' class="btn btn-primary btn-lg" href="tel:786-587-7176" role="button">Call</a> <a id='email-now'class="btn btn-primary btn-lg" href="mailto:macparkingmiami@gmail.com?subject=Interested in your services" role="button">Email</a>
						<br>
						<div class="fb-like" data-href="https://www.facebook.com/macparkinginc/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div> 

						<div class='yelp_button' id="yelp-biz-badge-plain-kpy_s7RSLRljW3UOT_WXkw"><a href="http://yelp.com/biz/mac-parking-north-miami?utm_medium=badge_button&amp;utm_source=biz_review_badge" target="_blank">Check out Mac Parking on Yelp</a></div>    <script>(function(d, t) {var g = d.createElement(t);var s = d.getElementsByTagName(t)[0];g.id = "yelp-biz-badge-script-plain-kpy_s7RSLRljW3UOT_WXkw";g.src = "//yelp.com/biz_badge_js/en_US/plain/kpy_s7RSLRljW3UOT_WXkw.js";s.parentNode.insertBefore(g, s);}(document, 'script'));</script>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END MAIN -->
<div class="deco_gradient">
	<!-- ABOUT -->
	<section id="home_about" class="">
		<div class="container ">
			<div class="row text-center">
				<div class="col-xs-12">
					<h2>About Us</h2>
				</div>
			</div>			
			<div class="row text-center">
				<div class="col-xs-12 col-sm-4">
					<h1><i class="big fa fa-users"></i></h1>
					<h3>Customer Oriented</h3>
					<p>We know parking can be a little frustrating. Thats why we strive to go the extra mile. We can help you obtain city parking permits, and even arrange a road closure!</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h1><i class="big fa fa-gavel"></i></h1>
					<h3>Licensed and Insured</h3>
					<p>With licenses and permits to operate from West Palm Beach to Key West, we are more than capable of protecting both you and your patrons.</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h1><i class="big fa fa-briefcase"></i></h1>
					<h3>40+ Years Experience</h3>
					<p>Having handled well over 10000 events served, chances are you have seen us around. We use that experience everyday to provide better service to you.</p>
				</div>
			</div>
			<br>
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  	<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
			 	 <!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
				    	<%= image_tag("lamborghini_white_wynwood.png") %>
					    <!-- <div class="carousel-caption">
							<h3>...</h3>
						</div> -->
					</div>
					<div class="item">
				    	<%= image_tag("lamborghini_blue_wynwood.png") %>
					    <!-- <div class="carousel-caption">
							<h3>...</h3>
						</div> -->
					</div>
					<div class="item">
				    	<%= image_tag("lamborghini_red_wynwood.png") %>
					    <!-- <div class="carousel-caption">
							<h3>...</h3>
						</div> -->
					</div>
				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="icon-prev" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="icon-next" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</section>
	<!-- END ABOUT -->
<div class="page-header">
</div>
	<!-- ESTIMATE -->
	<section id="home_estimate" class="">
		<div class="container ">
			<div class="row text-center">
				<div class="col-xs-12">
					<h2>Get a Free Estimate for your next event.</h2>
					<h4><button class="btn btn-success btn-sm" id="quick-estimate">Start</button></h4>
				</div>
			</div>
			<script>
				$('#quick-estimate').on('click', function() {
					$('#estimate-hider').fadeIn();
					$('#quick-estimate').hide();
				});
			</script>
			<br>
			<div class="row" id="estimate-hider" style="display: none;">
				<div class="col-xs-12 col-sm-6 text-center" style="color: white;">
					<h3>Party Information</h3>
					<div class="col-xs-12">
						<div class="form-group">
							<label>Address</label>
						 <input id="autocomplete" class="form-control" placeholder="Address" onFocus="geolocate()" type="text"></input>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Guest Count</label>
							<input type="number" placeholder="Guest Count" onclick="$('#guestCount').val('')" class="form-control" id="guestCount" value="30">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Event Date</label>
							<input type="date" value="<%= Date.today %>" class="form-control estimateDate">
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
							<label id="estimateEmailLabel">Your Email</label>
						 	<input class="form-control" placeholder="Email" type="email" id='estimateEmail' autocomplete=true></input>
						 </div>
					</div>
					<div class="col-xs-12">
						<button class="btn btn-default btn-lg btn-block" id="estimateBtn" style="font-size:30px;">
							Estimate!
						</button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 text-center">
					<h3>Estimate</h3>
					<div class="estimateBox center-block bg-default">
						<span class="lead estimate" style="font-size: 108px;">0</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ESTIMATE END -->
<!-- <div class="page-header">
</div> -->
	<!-- SUBSCRIBE -->
<!-- 	<section id="home_subscribe" class="">
		<div class="container ">
			<div class="row text-center">
				<div class="col-xs-12">
					<h2>Subscribe to our newsletter and promotional deals!</h2>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 center-block">
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" id="newsEmail">
					</div>
					<button class="btn btn-default btn-block" id="newsButton" style="font-size:30px;">
						Subscribe!
					</button>
				</div>
			</div>
		</div>
	</section> -->
	<!-- END SUBSCRIBE -->

<div class="page-header"></div>

	<!-- CONTACT US FORM -->
	<section id="home_contact_us" class="">
		<div class="container ">
			<div class="row">
				<div class="col-xs-12 center-block text-center">
					<h1>Contact Us</h1>
					<br>
					<ul class="list-inline">
						<li><h4>Phone:<a href="tel:786-587-7176"> 786-587-7176</a></h4></li>
						<li><h4>Email:<a href='mailto:macparkingmiami@gmail.com?subject=Interested in your services'> macparkingmiami@gmail.com</a></h4></li>
						<br>
   						<li><h4><button class="btn btn-primary btn-sm" id="quick-form">Quick Form</button></h4></li>
   						<script>
   							$('#quick-form').on('click', function() {
   								$('#form_hider').fadeIn();
   								$('#quick-form').hide();
   							});
   						</script>
					</ul>
					<br>
						<div id="form_hider" style="display: none;">
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<input class="form-control" type="name" placeholder="Name" id="contactName">
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<input class="form-control" type="email" placeholder="Email" id="contactEmail">
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<input class="form-control" type="phone" placeholder="Phone" id="contactPhone">
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
										<textarea class="form-control" rows="3" placeholder="Message" id="contactContent"></textarea>
								</div>
							</div>
							<div class="col-xs-12">
								<button type="submit" class="btn btn-default btn-block" id="contactButton" style="font-size:30px;">Send Message</button>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END CONTACT US FORM -->
</div>
	
	
<!-- 	<span class="home_login btn-group">
		<a href="<%=new_user_session_path%>" class="login btn-primary btn">Login</a>
		<a href=" <%=new_user_registration_path%>" class="signup btn-success btn">Signup</a>
	</span> -->
  <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
</body>
</html>