<section id="notes" class="bg-default" >
  <div class="container">
      <div class="row text-right visible-sm visible-md visible-lg visible-xl">
        <h2><small>Welcome</small> <%= current_user.email%></h2>
      </div>
      <div class="row text-right visible-xs">
        <h4><small>Welcome</small> <%= current_user.email%></h4>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <a href="<%=new_location_path%>" class="btn btn-primary btn-block">New location</a>
        </div>
        <div class="col-xs-12 visible-sm visible-md visible-lg visible-xl">
          <h3>Locations</h3>
        </div>
        <div class="col-xs-12 visible-xs">
          <br>
          <h5>Locations</h5>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <div class="col-xs-6 col-md-6">
            <h5>Name</h5>
          </div>
          <div class="col-xs-6 col-md-6">
            <h5>Address</h5>
          </div>
          <ul class="list-unstyled" id="notesList">
            <% @color = 1 %>
            <% @locations.each do |location| %>
              <% if @color == 1 %>
                <li class="note clearfix">
              <% @color = 2 %>
              <% else %>
                <li class="noteAlt clearfix">
                <% @color = 1 %>
              <% end %>
                  <a href="/locations/<%= location.id %>/show ">
                    <span class="lead">
                      <div class="col-xs-6 col-md-6">
                        <%= location.name %>
                      </div>
                      <div class="col-xs-6 col-md-6">
                        <% if location.address %>
                          <%= location.address%>
                        <% else %>
                          Not Known
                        <% end %>
                      </div>
                    </span>
                  </a>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</section>